# Credentials
credentials*.yml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_report.xml
hs_err_pid*

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.classpath
.project
.settings/
bin/

# NetBeans
/nbproject/private/
/build/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Maven
target/
!**/src/main/**/target/

# Gradle
.gradle
/build/
!**/src/main/**/build/

# Spring Boot DevTools restart
spring-boot-devtools.properties

# OS X
.DS_Store

# Windows
Thumbs.db

# vi swap file
.swp

